@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #e8a998;
}

.clipPath {
  clip-path: polygon(20% 0px, 100% 0px, 100% 100%, 0px 100%);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
